.navLink {
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-sm);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
  flex: 1 1 auto;
}


.navLink:hover {
  opacity: 0.8;
}

.navLinkText {
  font-size: var(--text-desktop-sm);
  letter-spacing: var(--tracking-desktop);
  line-height: var(--leading-tight);
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .navLink {
    padding: 20px;
  }
  .navLinkText {
    font-size: var(--text-tablet-sm);
    letter-spacing: var(--tracking-tablet);
  }
}

@media (max-width: 768px) {
  .navLink {
    padding: 20px;
    width: 100%;
  }
  .navLinkText {
    font-size: var(--text-mobile-sm);
    letter-spacing: var(--tracking-mobile);
  }
}
